<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS6w2RpI1CpVWtasDUbzi7u8l-FEm6x0I</string>
	<key>GCM_SENDER_ID</key>
	<string>158994890766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abed.ThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-53502</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-53502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158994890766:ios:044acdb2dd7262f438fc5f</string>
</dict>
</plist>